<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="gitlab.mr.status" version="1">
    <about>
        <name>GitLab Merge Requests status notifier</name>
        <version>${project.version}</version>
        <target-go-version>${go.version}</target-go-version>
        <description>Updates build status for GitLab Merge request</description>
        <vendor>
            <name>Mirko Friedenhagen</name>
            <url>https://github.com/gocd-contrib/gocd-build-status-notifier/</url>
        </vendor>
    </about>
</go-plugin>