<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="gerrit.cs.status" version="1">
    <about>
        <name>Gerrit Change Set status notifier</name>
        <version>0.1</version>
        <target-go-version>15.1.0</target-go-version>
        <description>Updates build status for Gerrit change set</description>
        <vendor>
            <name>Srinivas</name>
            <url>https://github.com/srinivasupadhya/gocd-build-status-notifier</url>
        </vendor>
    </about>
</go-plugin>